body {
    padding-top: 100px;
    background: url(./assets/images/mark-basarab-1OtUkD_8svc-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: 100%;
    margin: 0;
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.card {
    background-color: burlywood;
    width: 350px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: 20px -8px 40px 6px rgba(77,72,77,0.58);
    -moz-box-shadow: 20px -8px 40px 6px rgba(77,72,77,0.58);
    box-shadow: 20px -8px 40px 6px rgba(77,72,77,0.58);
}

.top {
    background-image: linear-gradient(45deg,#f1a498, #f54c4a);
    padding-bottom: 100px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.user {
    font-size: 20px;
}

#unit-converter {
    border: none;
    background: none;
    font-size: 24px;
    color: white;
    margin-bottom: 30px;
}

#unit-converter option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#main-unit {
    border: none;
    background: none;
    border-bottom: 1px solid#fff;
    color: #fff;
    font-size: 40px;
    width: 160px;
}

#second-unit {
    border: none;
    background: none;
    border-bottom: 1px solid#f54c4a;
    color: #f54c4a;
    font-size: 40px;
    width: 160px;

}

#main-unit-options {
    border: none;
    background: none;
    color: #fff;
}

#main-unit-options option {
    background: rgba(0, 0, 0, 0.3);
}

#second-unit-options {
    border: none;
    background: none;
    color: #f54c4a;
}

#second-unit-options option {
    background: rgba(0, 0, 0, 0.3);
}

.bottom {
    background-color: #fff;
    padding: 80px 15px;
}